%footer.site-footer
  .footer-contact
    .container
      %p.contact-msg
        If you have public interest information about WestConnex or these companies please
        = link_to "be brave and study",
                    "https://ssd.eff.org/en/playlist/want-security-starter-pack",
                    title: "Surveillance Self-Defence from the EFF"
      .contact-links
        %p= link_to "PGP: 27F8 0DD0 0762 66E5 3AEF  E9E1 1217 68CC 4B66 3089 →",
                    "https://keybase.io/whywestconnex/key.asc",
              title: "Public key information for encryption messages to this website."
        %p= link_to "whywestconnex@riseup.net",
                    "https://ssd.eff.org/en/glossary/pgp",
              title: "Please use PGP when contacting this website."
  .footer-credits
    %p.container
      This website uses data from
      = link_to "morph.io", "https://morph.io"
      and
      = link_to "OpenCorporates", "https://opencorporates.com/"
