%li.contractor{id: contractor.corporate_id}
  %header
    %h2.contractor-name= contractor.name
    %span.contractor-value= number_to_currency(contractor.total_est_contract_value, precision: 0)
  .item-data
    - if contractor.acn
      %dl.item-data-group
        %dt ACN
        %dd= link_to contractor.acn, "https://connectonline.asic.gov.au/RegistrySearch/faces/landing/panelSearch.jspx?searchType=OrgAndBusNm&searchText=#{contractor.acn}", title: "View record on the ASIC website."
    - elsif contractor.abn
      %dl.item-data-group
        %dt ABN
        %dd= link_to contractor.abn, "http://www.abr.business.gov.au/SearchByAbn.aspx?SearchText=#{contractor.abn}", title: "Look this ABN up on the Australian Business Register."
    - if contractor.website
      %dl.item-data-group
        %dt Website
        %dd= link_to simple_url(contractor.website), contractor.website, class: 'contractor-website'
  - if contractor.description
    .item-description
      :markdown
        #{contractor.description}
  %ul.contracts
    = render contractor.contracts
