%header.container
  %h1 Who profits from WestConnex?
  %p.lede
    These #{@contractors.count} companies have been contracted by the NSW Government.
    So far, their #{pluralize(Contract.count, "contracts")} are worth
    #{number_to_currency(Contract.sum(:value), precision: 0)}.#{link_to '*', '#limitations', title: 'This information in limited, find out more.'}

%main.container
  %ul.contractors
    = render @contractors

%section.container#limitations
  %h2 Limitations
  %p
    - # TODO: Link to the actual laws so people can go fix them.
    New South Wales law allows for information about a government contract
    be removed from public access once it is completed.
    It also gives the government 45 days from a contract “becoming effective”
    to publish a notice that it exists.
    It does not require public notice for contracts worth up to $150,000.
  %p
    Because of these blockers this website cannot paint a full picture of
    who profits from WestConnex.
    It only shows information for contracts that have been availble
    to the public since early May 2015.
    Contracts that finished earlier, contracts worth less that $150,000,
    and contracts that have not had a public contract award notice are missing.
    Let’s change these laws to make the relationships between businesses
    and government more transparent to citizens.

%section.history#history
  %div.container
    %h2 Recent changes
    %ul.updates-list
      - @days_with_changes.each do |day|
        %li
          %h3= day.strftime("%b %-d")
          %p= new_contractors_sentence(@contractor_history.by_day(day))
          %p= new_contracts_sentence(@contract_history.by_day(day))
