%header.container
  %h1 Who profits from WestConnex?
  %p.lede
    These #{@contractors.count} companies have been contracted by the NSW Government.
    So far, their #{pluralize(@contract_count, "contracts")} are worth
    #{number_to_currency(Contract.sum(:value), precision: 0)}.#{link_to '*', '#limitations', title: 'There are major limitations to the information here, find out more.', class: 'note-link'}

%main.container
  %ul.contractors
    = render @contractors

%section.container#limitations
  %h2 Limitations
  %p
    New South Wales law allows for information about a government contract be
    #{link_to 'removed from public access once it is completed', 'http://www.austlii.edu.au/au/legis/nsw/consol_act/giaa2009368/s34.html#public_access_period', title: 'See GOVERNMENT INFORMATION (PUBLIC ACCESS) ACT 2009 - SECT 34'}.
    It also gives the government
    #{link_to '45 days from a contract “becoming effective”', 'http://www.austlii.edu.au/au/legis/nsw/consol_act/giaa2009368/s27.html#government_contracts_register', title: 'See GOVERNMENT INFORMATION (PUBLIC ACCESS) ACT 2009 - SECT 27'}
    to publish a notice that it exists.
    It does not require public notice for contracts worth up to $150,000.
  %p
    Because of these blockers this website does not currently
    list all contracts and contractors for WestConnex.
    It only shows information for contracts that have been availble
    to the public since early May 2015.
    Contracts that finished earlier, contracts worth less that $150,000,
    and contracts that have not had a public <i>contract award notice</i> are missing.
    This is far from the full picture.
  %p
    Let’s change these laws to
    give citizens better information to participate in democratic decision making.

%section.history#history
  %div.container
    %h2 Recent changes
    %ul.updates-list
      - @days_with_changes.each do |day|
        %li
          %h3= day.strftime("%b %-d")
          %p= new_contractors_sentence(@contractor_history.by_day(day))
          %p= new_contracts_sentence(@contract_history.by_day(day))
