!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge,chrome=1"}
    %title Why Westconnex?
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: "description", content: ""}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    /[if lt IE 9]
      %script{src: "//html5shiv.googlecode.com/svn/trunk/html5.js"}
      :javascript
        window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')

    %script{src: "//use.typekit.net/fgz5dor.js"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    %main.container
      = yield
    %footer.site-footer
      .footer-contact
        .container
          %p.contact-msg
            If you have public interest information about WestConnex or these companies please
            = link_to "be brave and study",
                       "https://ssd.eff.org/en/playlist/want-security-starter-pack",
                       title: "Surveillance Self-Defence from the EFF"
          .contact-links
            %p= link_to "PGP: 27F8 0DD0 0762 66E5 3AEF  E9E1 1217 68CC 4B66 3089 →",
                        "https://keybase.io/whywestconnex/key.asc",
                 title: "Public key information for encryption messages to this website."
            %p= link_to "whywestconnex@riseup.net",
                        "https://ssd.eff.org/en/glossary/pgp",
                 title: "Please use PGP when contacting this website."
      .footer-credits
        %p.container
          This website uses data from
          = link_to "morph.io", "https://morph.io"
          and
          = link_to "OpenCorporates", "https://opencorporates.com/"
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create',"UA-<%= ENV['GA'] %>",'auto');ga('send','pageview');
